* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lessons-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.lesson {
    padding: 20px;
    border: 2px slategray solid;
    border-radius: 3%;
}